
<div class="container">

    <header class="d-flex flex-wrap align-item-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="navbar-brand" href="#"></a>
    
    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-conternt-center mb-md-0">
        <button class="btn btn-info bg-opacity-75 mr-2" [routerLink]="['users']">Utenti</button>
        <button class="btn btn-danger bg-opacity-75" [routerLink]="['orders']">Ordini</button>
    </ul>
    
    </header>
  </div>